body {
    background-color: #f7f7f7;
}

div {
    max-width: 75%;
    align-content: center;
    margin: auto;
    border: 20%;
    font-family: Optima, "Lucida Sans", "Lucida Grande", sans-serif;
    font-size: 1rem;
    color: #494e52;
}

h1,
h2,
h3 {
    color: #009000;
    font-family: CopernicusBook, serif !important;
}

h1 {
    font-size: 4em !important;
    margin: 0;
}

h2 {
    font-size: 2rem !important;
    margin: 5px;
    padding-top: 0;
}

h3 {
    color: #494e52;
    margin-bottom: 1px;
}

.personal {
    margin: 1%;
}

.header h1 {
    position: relative;
    display: inline-block;
}

i {
    color: #009000;
    margin: 1%;
}

.header img {
    position: relative;
    width: 25%;
    height: auto;
    border-radius: 50% !important;
    box-shadow: 0 0 0 3px #009000;
    margin-top: 5em;
    margin-left: 2em;
}

section {
    box-shadow: 2px 2px 5px 2px rgb(60 64 67 / 15%);
    background-color: white;
    padding: 1.5em;
    margin: 10px;
    position: relative;
    display: block;
}

#header-sec {
    padding: 0em;
}

hr {
    border: 1px solid #009000;
}

.right_text {
    float: right;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.navMenu {
    position: fixed;
    top: 2.0em;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.navMenu a {
    text-decoration: none;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 1.25vw;
    display: inline-block;
    position: relative;
    padding: 0.5em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.navMenu a:hover {
    color: #494e52;
    font-weight: bold;
    text-decoration: underline;
}

.nav-div section {
    position: fixed;
    width: 100%;
    left: 0%;
    height: 1em;
    background-color: #009000;
    margin: 0;
    top: 0;
    z-index: 1;
}

.footer p {
    text-align: center;
    color: #009000;
}

li {
    margin: 0.5em;
}

br {
    content: " ";
    display: block;
    margin-bottom: 0em;
}

p {
    margin: 0.25em;
}

@media only screen and (max-width: 600px) {
    div {
        max-width: 100%;
    }
    .header h1 {
        margin-left: 5vw;
    }
    .right_text {
        float: none;
    }
}