div {
    max-width: 75%;
    align-content: center;
    margin: auto;
    border: 10%;
    /* font-family: MalloryBook, sans-serif !important; */
    font-family: DINPro, Helvetica, Arial, Sans-Serif;
    font-size: 1rem;
}

h1,
h2,
h3,
i {
    color: darkgreen;
    font-family: CopernicusBook, serif !important;
}

h2::first-letter {
    font-size: 200%;
}

h1 {
    font-size: 5rem !important;
    color: darkolivegreen;
}


/* width: 100%; */


/* height: auto; */

.header img {
    float: left;
    width: 25%;
    height: auto;
    border-radius: 50% !important;
    /* border: 3px solid var(--color-background-container-dark); */
    box-shadow: 0 0 0 5px darkolivegreen;
    /* background-color: var(--color-canvas-default) !important; */
}

.header h1 {
    position: relative;
    top: 10%;
    left: 10%;
}

.personal {
    position: relative;
    /* top: 10%; */
    left: 10%;
}